<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Ordering Service</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" th:href="@{/orders}">Order Placement Service</a>

  <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" th:href = "@{/orders}">Manage Orders</a>
      </li>
		<li class="nav-item">
			<a class="nav-link" th:href = "@{/logout}">Loguot</a>
		</li>
    </ul>
  </div>
</nav>

	<div class ="container">
		<div class = "row">
			<h1> List Orders </h1>
		</div>
		
		<div class = "row">
			<div class = "col-lg-3">
				<a th:href = "@{/orders/new}" class = "btn btn-primary btn-sm mb-3"> Place Order</a>
			</div>
		</div>
		<table class = "table table-striped table-bordered">
			<thead class = "table-dark">
				<tr>
					<th> Order ID</th>
					<th> Product Name</th>
					<th> Quantity</th>
					<th> Price Price </th>
					<th> Order Status </th>
					<th> Actions </th>
				</tr>
			</thead>
			
			<tbody>
				<tr th:each = "order: ${orderList}">
					<td th:text = "${order.id}"></td>
					<td th:text = "${order.productName}"></td>
					<td th:text = "${order.quantity}"></td>
					<td th:text = "${order.price}"></td>
					<td th:text = "${order.status}"></td>
					<td>
						<a th:href = "@{/orders/edit/{id}(id=${order.id})}"
						 class = "btn btn-primary">Update</a>
						
						<a th:href = "@{/orders/delete/{id}(id=${order.id})}"
						 class = "btn btn-danger">Delete</a>
						 
					</td>
				</tr>
			</tbody>
		
		</table>
		
	</div>
</body>
</html>